<div class="modal fade" id="modalCrearCompeticion" tabindex="-1" aria-labelledby="modalCrearCompeticion" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="titulomodalCrearCompeticion">Crear Competicion</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>

            <div class="modal-body">
                <form id="formCrearCompeticion" action="{{ path('crear_competicion') }}" method="post">

                    <div class="mb-3">
                        <label for="nombreCompeticion" class="form-label">Nombre de la Competicion</label>
                        <input type="text" name="nombreCompeticion" class="form-control" id="nombreCompeticion" required>
                    </div>

                    <button type="submit" class="btn btn-success">Guardar</button>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>

        </div>
    </div>
</div>
