<div class="modal fade" id="modalCrearEquipo" tabindex="-1" aria-labelledby="modalCrearEquipo" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="titulomodalCrearEquipo">Crear Equipo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>

            <div class="modal-body">
                <form id="formCrearEquipo" action="{{ path('crear_equipo') }}" method="post">

                    <div class="mb-3">
                        <label for="nombreEquipo" class="form-label">Nombre del Equipo</label>
                        <input type="text" name="nombreEquipo" class="form-control" id="nombreEquipo" required>
                        <label for="nombreEntrenador" class="form-label">Nombre del Entrenador</label>
                        <input type="text" name="nombreEntrenador" class="form-control" id="nombreEntrenador" required>
                        <label for="competicion" class="form-label">Competicion</label>
                        <select name="competicion" id="competicion"class="form-control" required>
                            <option value="">Seleccione una competicion</option>
                            {% for competicion in competiciones %}
                                <option value="{{ competicion.id }}">{{ competicion.nombre }} - {{ competicion.admin.username }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <button type="submit" class="btn btn-success">Guardar</button>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>

        </div>
    </div>
</div>
