{% block body %}
    <h1>Sobre Mí</h1>

    <section>
        <h2>Carta de Presentación</h2>
        <p class="col-6">
            Bienvenido/a a mi espacio personal.<br><br>
            Soy una persona apasionada por la informática y la tecnología. Me esfuerzo constantemente por mejorar mis habilidades y aportar soluciones eficientes a los proyectos en los que participo.<br><br>
            Tengo experiencia en áreas como desarrollo web, gestión de bases de datos y diseño de interfaces, utilizando herramientas y lenguajes como PHP, Symfony, Laravel, Spring, JavaScript, HTML y CSS.<br><br>
            Mi objetivo es seguir creciendo profesionalmente, aprendiendo nuevas tecnologías y colaborando en proyectos que supongan un reto y una oportunidad para aportar valor.<br><br>
            Gracias por visitar esta página y conocer un poco más sobre mí.
        </p>
    </section>

    <section>
        <h2>Currículum Vitae</h2>

        <p><strong>Datos personales:</strong></p>
        <ul>
            <li>Nombre: Carlos Molina Sánchez-Mateos</li>
            <li>Dirección: Avenida Cervera 60 - 13600 Alcázar de San Juan</li>
            <li>Teléfono: 619171522</li>
            <li>Email: carlos94spain4@gmail.com</li>
        </ul>

        <p><strong>Formación académica:</strong></p>
        <ul>
            <li>CFGS en Administración de Sistemas Informáticos en Red (ASIR) – IES Juan Bosco, 2016/2018</li>
            <li>CFGS en Desarrollo de Aplicaciones Web (DAW) – IES Juan Bosco, 2023/2025</li>
        </ul>

        <p><strong>Experiencia laboral:</strong></p>
        <ul>
            <li>2018 - Periodo de Prácticas (FCTS) de Administración de Sistemas Operativos en Red realizadas en Lácteas García Baquero, S.A. (400 horas)/li>
            <li>2018-2020 - Técnico Informático en Lácteas García Baquero, S.A. (2 años) Preparación e instalación de equipos y redes<</li>
            <li>2018 - Periodo de Prácticas (FCTS) de Desarrollo de Aplicaciones Web realizadas en Defisoft, S.L. (400 horas)/li>
        </ul>

        <p><strong>Habilidades técnicas:</strong></p>
        <ul>
            <li>PHP, Symfony, Twig, Laravel, Java, Spring</li>
            <li>HTML, CSS, JavaScript</li>
            <li>MySQL, MariaDB, Doctrine ORM</li>
            <li>Git, Docker</li>
        </ul>
    </section>
{% endblock %}


